// Variables

$fs-h1:23px;
$fs-h2:19px;
$fs-h3:18px;
$fs-h4:15px;
$fs-h5:14px;
$fs-h6:13px;

$clr-primary:#1C1C1C;
$clr-secondary:#657786;
$clr-third:#FF6600;
$clr-fourth: #FFFFFF;


$clr-form-primary:#1C1C1C;
$clr-form-secondary:#657786;
$clr-form-bg:#F5F8FA;


$btn-primary:#FF6600;
$btn-secondary:#0099FF;
