.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 10px 15px;
  height: 35px;
  font-weight: bold;
  &--primary {
    background-color: $btn-primary;
    color: $clr-fourth;
    border-style: none;
  }
  &--opacity {
    color: $btn-primary;
    border: 1px solid $btn-primary;
    background-color: inherit;
  }
  &--small {
    border-style: none;
    color: $btn-secondary;
    height: 21px;
    background: none;
  
    &__text {
      border-bottom: 1px solid;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: $btn-secondary;
    }
  }
}
