.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $btn-primary;
  color: $clr-fourth;
  border-radius: 50vh;
  font-size: 18px;

  &--small{
    display: flex;
    justify-content: end;
    color: $btn-secondary;
    font-weight: bold;    
  
    &__text {
      border-bottom: 1px solid      
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: $btn-secondary;
      
    }
  }
}
