.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $btn-primary;
  color: $clr-fourth;
  cursor: pointer;
  border-radius: 100px;
  font-size: $fs-h3;
  border-style: none;
  padding: 10px 15px;
  height: 35px;

  &--small {
    display: flex;
    justify-content: flex-end;
    color: $btn-secondary;
    font-weight: bold;
    height: 21px;

    &__text {
      border-bottom: 1px solid;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: $btn-secondary;
    }
  }
}
